@media(min-width:1024px){

    body{
        background-image: url(assets/BG.jpg);
        background-size: 100%;
        color: white;
        overflow-x: hidden;
        min-width: 100%;
        min-height: 100%;
        font-size: 150%;
        margin: 8px;
    }
    .nav-icon button {
    width: 300px;
    height: 70px;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    background-image: url(assets/holoBTN.png);
    font-family: Arial, Helvetica, sans-serif;
    }
    .three6zero{
    width: 13%;
    margin: 0% 27.5%;
    }
    .langs{
    width: 45%;
    margin: 0% 27.5%;
    }
}

@media(max-width:600px){
    body{
        background-image: url(assets/BG.jpg);
        background-size: 100%;
        color: white;
        overflow-y: hidden;
        min-width: 100%;
        min-height: 100%;
    }
        #me, #mew2{
        display:none;
    }
    .future #info{
        font-size: 41px;
        margin-right: 10px;
    }
    .info #info{
        font-size: 40.5px;
    }
    input{
        height: 50px;
    }
    .contact #info{
        font-size: 40px;
    }
    .text-center {
        margin: 0 10px 0 10px
    }
    .skill #info{
        font-size: 40px;
    }
    .three6zero{
    width: 40%;
    margin: 0% 27.5%;
    }
    .langs{
    width: 380px;
    margin: 0% 17.5%;
    }
    
}


.thank{
    display:none;
}
.thango{
  width: 30%;
  margin-left:150px;
  max-height: 550px;
}

.skills, .contact, .about, .future{
    margin: 5% 0% 2% 0%;
    text-align: center;
    background-color: #302f2f;
}
.skills{
    margin: 5% 5% 2.2% 5%;
    border-style: solid;
    border-width: 15px;
    border-color: #737373;
}
h2, h1{
    text-align: center;
}
li{
    text-decoration: none;
}
.project{
    margin:0% 0% 2% 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.proj{
    margin:0%;
}
.container{
    margin:0% 5%;
}
.about{
    margin-right: 5%;
    margin-left: 5%;
    border-style: solid;
    border-width: 15px;
    border-color: #737373;
}
.contact{
    border-style: solid;
    border-width: 15px;
    border-color: #737373;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 15%;
}
.screen{
    margin: 5% 5% 2% 5%;
    background-color: #302f2f;
    border-style: solid;
    border-width: 15px;
    border-color: #737373;
    padding-bottom: 6%;
}
.odin{
    width:60%;
}
.navbar-con{
    display: flex;
    justify-content: space-around;
    margin: 0% 0% 0% 0%;
}
.collage{
    width: 22.5%;
}
.me{
    height: 60vh;
}
.info{
    margin:0% 10% 0% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #302f2f;
}
button{
    font-size: 115%;
    border-radius: 0.5%;
    border-color: #0CC0DF;
    background-color: #5ae7ff;
}
a{
    color:white;
}
.future{
    margin: 4.5% 0% .5% 3%;
}
.submit{
    border-radius: 0%;
    border-color: white;
    background-color: white;
margin: 0.3% 0% 0%;}
.thango .odin{
    height: 10%;
}
.name{
    margin-bottom: 0%;
}
#images{
    margin: 0% 3%;
}
nav{
    text-decoration: none;   
    color: black; 
}
